.user {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: #e8eaf6;
  border-radius: 5px;
}

.user:hover {
  background-color: #c5cae9;
}

.user__name,
.user__email {
  margin-top: 5px;
  margin-bottom: 5px;
}

.user__email {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.user__name {
  white-space: nowrap;
}
