.group {
  padding: 10px;
}

.group__name {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.group__container {
  display: flex;
  align-items: center;
}

.group .group__button {
  margin-left: auto;
}

.group__disabled .group__name {
  color: rgba(0, 0, 0, 0.5);
}
